pyrogram==2.0.106  # GitHub ভার্সনের বদলে স্টেবল PyPI ভার্সন
TgCrypto
motor
aiofiles
dnspython
psutil
sqlalchemy==1.4.49  # 2.x এর পরিবর্তে সামান্য নতুন 1.4 ভার্সন (কম ঝুঁকি)
tmdbv3api
telethon
telegraph[aio]
markdown
